.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.main-container {
    margin-top : 50px;
    min-height: 290px;
}

ul.menu-footer > li {
    font-weight: 300;
    margin-bottom: 0.3em;
}

button.btn.btn-block, a.btn.btn-block {
    width: 100%;
}

.text-space {
    letter-spacing: 0.1em;
}